/* Full Calendar */
.fc-event, .fc-future, .fc-today:hover {cursor:pointer;}
.fc-future:hover  {background:#E8E8E8; }
.fc-today:hover {background:#D6CED1;}
.fc-past {background:#D1D1D1;}

// Buttons
.fc-state-default.fc-corner-left, .fc-state-default.fc-corner-right {border-radius: 0;}
.fc-state-default {background:none;}
.fc-state-active, .fc-button:hover, .fc-button:active, .fc-button.hover {background-color: #3c8dbc; color:white; text-decoration: none; text-shadow:none;}
.fc-state-down, .fc-state-active {box-shadow: none; text-shadow:none;}

.fc-icon {font-family: "FontAwesome";}
