/* Custom overrides for InOutBoard */  
 
.location-filter, .fc-event { color:white;}
.location-filter, .fc-event, .fc-future {cursor:pointer;}
 
.fc-future:hover {background:#f8f8f8;}
.fc-past {background:#f5f5f5; opacity: 0.8;} 

.panel-title {color:white;}
.append {margin-bottom:10px;}

/****************** Forms ****************/ 
.datetimeselect .form-group {width:100px; float:left;}
.datetimeselect label {width:100%; float:left;}

/* Alerts */
 .fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.in { opacity: 1;}